@using Logistics.Models
@model Logistics.Models.Order

@{
    ViewBag.Title = "Order Book Form";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Stock Order Form</legend>

        <p>
            @Html.ActionLink("Add a Book", "AddBook", "Order", new { id = Model.OrderId }, null)
        </p>

        @Html.HiddenFor(model => model.OrderId)

        <table>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.OrderNumber, "Order Number")
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.OrderNumber)
                        @Html.ValidationMessageFor(model => model.OrderNumber)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.StoreId, "Store")
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.StoreId, (IEnumerable<SelectListItem>)ViewBag.StoreList, new { @class = "text-box single-line" })
                        @Html.ValidationMessageFor(model => model.StoreId)
                    </div>
                </td>
            </tr>
        </table>
        <table>
            <thead>
                <tr>
                    <th>Book</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.OrderLines != null)
                {
                    foreach (OrderLine line in Model.OrderLines)
                    {
                        Html.RenderPartial("OrderLineEditor", line);
                    }
                }
            </tbody>
        </table>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
